.sedgwick-ave-regular {
    font-family: "Sedgwick Ave", serif;
    font-weight: 400;
    font-style: normal;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

#cont-video-fondo{
    position: absolute;
}

.video-background{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

#cont-gif-fondo{
    position: absolute;
    background-image: url("./assets/images/gif-fondo.gif");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
}

#cont-sup{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    background-image: url("./assets/images/bandera-disney-princesa\ 1.png");
   
}

h1{
    font-size: 52px;
    color: #987CC9;
}

#cont-inf{
    width: 100%;
    height: 20vh;
    background-image: linear-gradient(to top, #F9BBD0 80%, #00000073);
    position: absolute;
    bottom: 0;
    max-width: 450px;
}

#cont-banner{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img{
    position: absolute;
    bottom: 80%;
    object-fit: contain;
    width: 100%;
}

.img-cast{
    height: 600px;
    bottom: 30%;
}

.img-prin{
    filter: drop-shadow(#000 3px 3px 3px);
}
.cont-final{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.text{
    color: #383838;
    margin: 10px;
    font-size: 26px;
}
.cont-desc{
    background-color: #987CC9;
    border-radius: 50px;
    padding: 10px 10px;
    position: absolute;
    bottom: 80%;
    width: 84%;
    display: flex;
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}

.cont-fecha{  
    width: 30%;
    border-right: #fff solid;
}

.cont-direccion{
    border-bottom: #fff solid;
}

#cont-botones{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

.btn{
    background-color: #987CC9;
    border: none;
    color: #fff;
    border-radius: 50px;
    padding: 5px 10px;
    font-size: 20px;
    max-width: 125px;
    line-height: 20px;
}
